/* http://www.spritecow.com/ */

:root {
  --sprite-img: url('../../public/images/ms-sprites-cut.png');
}

.board {
  background-color: #c0c0c0;
}

.grid {
  display: grid;
  grid-template-rows: repeat(16, 16px);
  grid-template-columns: repeat(16, 16px);
  height: max-content;
  width: max-content;
}
.gridBomb {
  background: var(--sprite-img) no-repeat -89px -38px;
}

.gridGrey {
  background: var(--sprite-img) no-repeat -46px -37px;
}

.gridOneMine {
  background: var(--sprite-img) no-repeat -26px -18px;
}

.gridTwoMine {
  background: var(--sprite-img) no-repeat -44px -18px;
}

.gridThreeMine {
  background: var(--sprite-img) no-repeat -62px -18px;
}

.gridFourMine {
  background: var(--sprite-img) no-repeat -80px -18px;
}

.gridFiveMine {
  background: var(--sprite-img) no-repeat -98px -18px;
}

.gridSixMine {
  background: var(--sprite-img) no-repeat -116px -18px;
}

.gridSevenMine {
  background: var(--sprite-img) no-repeat -134px -18px;
}

.gridEightMine {
  background: var(--sprite-img) no-repeat -152px -18px;
}

.gridFlagged {
  background: var(--sprite-img) no-repeat -66px -37px;
}

.gridBombFlagged {
  background: var(--sprite-img) no-repeat -132px -37px;
}

.gridBombExploded {
  background: var(--sprite-img) no-repeat -111px -37px;
}

.gridItem {
  background: var(--sprite-img) no-repeat -26px -37px;
  border-radius: 0;
  height: 16px;
  width: 16px;
}

.grid > button {
  border: none;
}

.gridGreen {
  background-color: lime;
}



