/* http://www.spritecow.com/ */

:root {
  --sprite-img: url('../../public/images/ms-sprites-cut.png');
}

.grid {
  display: grid;
  grid-template-rows: repeat(16, 16px);
  grid-template-columns: repeat(16, 16px);
  height: max-content;
  width: max-content;
}
.gridBomb {
  background: var(--sprite-img) no-repeat -91px -39.5px;
}

.gridGrey {
  background: var(--sprite-img) no-repeat -47.5px -38px;
}

.gridOneMine {
  background: var(--sprite-img) no-repeat -28px -20px;
}

.gridTwoMine {
  background: var(--sprite-img) no-repeat -46px -19.5px;
}

.gridThreeMine {
  background: var(--sprite-img) no-repeat -63.5px -19.5px;
}

.gridFourMine {
  background: var(--sprite-img) no-repeat -81.5px -19.5px;
}

.gridFiveMine {
  background: var(--sprite-img) no-repeat -99.5px -19.5px;
}

.gridSixMine {
  background: var(--sprite-img) no-repeat -117.5px -19.5px;
}

.gridSevenMine {
  background: var(--sprite-img) no-repeat -135.5px -19.5px;
}

.gridEightMine {
  background: var(--sprite-img) no-repeat -153.5px -19.5px;
}

.gridRed {
  background-color: crimson;
}

.gridGreen {
  background-color: lime;
}

.gridFlagged {
  background: var(--sprite-img) no-repeat -67px -38px;
}

.gridWhite {
  background-color: white;
}

.gridBombFlagged {
  background-color: aqua;
}

.gridItem {
  background: var(--sprite-img) no-repeat -27px -38px;
  border-radius: 0;
}

.board {
  background-color: grey;
}

