/* http://www.spritecow.com/ */

@import url('../../common/css/global.css');

.board {
  display: flex;
  flex-direction: column;
  background-color: var(--ms-grey);
  padding-bottom: 5px;
}


.grid {
  border-radius: 2px;
  border-width: 3px;

  display: grid;
  height: max-content;
  width: max-content;
  align-self: center;
}

.gridSizeE {
  grid-template-rows: repeat(9, 16px);
  grid-template-columns: repeat(9, 16px);
}

.gridSizeM {
  grid-template-rows: repeat(16, 16px);
  grid-template-columns: repeat(16, 16px);
}

.gridSizeL {
  grid-template-rows: repeat(20, 16px);
  grid-template-columns: repeat(20, 16px);
}

.gridHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;

  border-radius: 2px;
  border-width: 3px;

  margin-bottom: 5px;
  padding: 5px 0 5px;
}

.gridHeaderFlags {
  display: flex;
  justify-content: center;
  height: max-content;
}

.gridHeaderReset {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridHeaderTimer {
  display: flex;
  justify-content: center;
  height: max-content;
}

.gridHeaderFlags > div {
  display: flex;
  width: max-content;

  border-width: 2px;
}

.gridHeaderTimer > div {
  display: flex;
  width: max-content;

  border-width: 2px;
}

.gridNumberHW {
  width: 12.5px;
  height: 23px;
}

.gridNumberZero {
  background: var(--sprite-img) no-repeat -203.2px -57px;
}

.gridNumberOne {
  background: var(--sprite-img) no-repeat -68px -57px;
}

.gridNumberTwo {
  background: var(--sprite-img) no-repeat -83px -57px;
}

.gridNumberThree {
  background: var(--sprite-img) no-repeat -98px -57px;
}

.gridNumberFour {
  background: var(--sprite-img) no-repeat -113px -57px;
}

.gridNumberFive {
  background: var(--sprite-img) no-repeat -128px -57px;
}

.gridNumberSix {
  background: var(--sprite-img) no-repeat -143px -57px;
}

.gridNumberSeven {
  background: var(--sprite-img) no-repeat -158px -57px;
}

.gridNumberEight {
  background: var(--sprite-img) no-repeat -173px -57px;
}

.gridNumberNine {
  background: var(--sprite-img) no-repeat -188px -57px;
}

.gridOneMine {
  background: var(--sprite-img) no-repeat -26px -18px;
}

.gridTwoMine {
  background: var(--sprite-img) no-repeat -44px -18px;
}

.gridThreeMine {
  background: var(--sprite-img) no-repeat -62px -18px;
}

.gridFourMine {
  background: var(--sprite-img) no-repeat -80px -18px;
}

.gridFiveMine {
  background: var(--sprite-img) no-repeat -98px -18px;
}

.gridSixMine {
  background: var(--sprite-img) no-repeat -116px -18px;
}

.gridSevenMine {
  background: var(--sprite-img) no-repeat -134px -18px;
}

.gridEightMine {
  background: var(--sprite-img) no-repeat -152px -18px;
}

.gridFlagged {
  background: var(--sprite-img) no-repeat -66px -37px;
}

.gridBomb {
  background: var(--sprite-img) no-repeat -89px -38px;
}

.gridBombFlagged {
  background: var(--sprite-img) no-repeat -132px -37px;
}

.gridBombExploded {
  background: var(--sprite-img) no-repeat -111px -37px;
}

.gridFlipped {
  background: var(--sprite-img) no-repeat -46px -37px;
}

.gridUnflipped {
  background: var(--sprite-img) no-repeat -26px -37px;
  border-radius: 0;
  height: 16px;
  width: 16px;
}

.gridUnflipped:hover:enabled {
  opacity: 50%;
}

.grid > button {
  border: none;
}

.grid > button:root {
  border: none;
}

.reset {
  background: var(--sprite-img) no-repeat -175px -15px;
}

.resetDead {
  background: var(--sprite-img) no-repeat -280px -15px;
}

.resetWin {
  background: var(--sprite-img) no-repeat -253px -15px;
}

.resetHW {
  border: none;
  width: 24px;
  height: 24px;
}