.grid {
  display: grid;
  grid-template-rows: repeat(9, 50px);
  grid-template-columns: repeat(9, 50px);
}

.gridMine {
  background-color: blue;
}

.gridItem {
  border-radius: 0;
}

.gridItem:hover {
  background-color: red;
}